body {
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #37485e ;
}

.card {
    background: #212349d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 60vw;
    margin: auto;
    margin-top: 1.5rem;
}
  
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
button {
    margin: 0.5em;
    max-width: 60px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #bebebe2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
  
input.search-bar {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background: #7c7c7c2b;
    color: white;
    width: 80%;
}
  
button:hover {
    background: #7c7c7c6b;
}
  
h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}